.mes {
    display: flex;
    // height: 90vh;
    min-height: 83vh;
    // background-color: rgb(37, 39, 46);

}

.message-box {
    background-color: $color-dark-2;
    // margin: 0!important;
    padding: 0 !important;
    height: 100vh;
    max-height: 100vh;
    // overflow-y: hidden;

    &__messages {
        display: flex;
        width: 100%;
        max-height: 84vh;
        flex-direction: column-reverse;
        overflow-y: scroll;


        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
        //chrome scroolbar hide
        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__input-bar {
        height: 7vh;
        width: 100%;
        display: flex;
        align-items: center;
        margin: 1rem 0;
        background-color: $color-dark-4;
        // display: flex;

        div {
            margin-left: 1.5rem;
            cursor:pointer;
            &:last-child{
                margin-right: 1.5rem;
            }
        }

        input {
            border: none;
            outline: none;
            background-color: $color-dark-3;
            width: 80%;
            border-radius: .5rem;
            line-height: 4rem;
            font-size: 1.8rem;
            margin-left: 1.5rem;
            padding-left: 1rem;
            flex-grow: 1;
            color: $color-light-1;
        }

    }
}

.message-nav {
    background-color: $color-red-1;
    height: 5rem;
    border-end-end-radius: 1rem;
    border-start-end-radius: 1rem;
    text-align: center;
    // padding: 1rem;
}

.message-block {
    display: flex;
    margin-bottom: .5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    //TODO
    color: white;
    font-family: sans-serif;
    // flex-direction: row-reverse;

    &.reverse {
        flex-direction: row-reverse;

        img {
            display: none;
        }

        h2 {
            display: none;
        }

        h5 {
            color: $color-light-1;
        }

        div {
            background-color: $color-red-1;
        }

    }


    &__img {
        height: 2rem;
        width: 2rem;
        border-radius: 1rem;
    }

    &__content {
        background-color: $color-dark-3;
        // background-color: $color-red-1;
        margin-left: 1rem;
        padding: 1rem 1rem;
        border-radius: 1rem;

        &-header {
            font-size: 1.6rem;
            padding-bottom: .5rem;
            font-weight: 800;
            //TODO
            // color: $color-red-1;
            color: green;
        }

        &-text {
            font-size: 1.5rem;
            display: flex;

            h5 {
                align-self: flex-end;
                color: $color-gray-1;
                padding-left: 1rem;
                margin-bottom: -.5rem;
                font-weight: 500;
            }
        }
    }
}