$color-white :#fff;
$color-black :#000;

$default-font-size: 1.6rem;

$color-dark-1: #1d1f2b;
$color-dark-2: #20222f;
$color-dark-3: #2f3348;
$color-dark-4: #272939;
$color-gray-1: #92929c;
$color-light-1: #fafefe;
$color-red-1: #c22e50;
// $color-red-2: #c22e50;
