.btn {
  background-color: transparent;
  border: none;
  color: $color-light-1;
  padding: 1rem 2rem;
  font-size: $default-font-size;
  cursor: pointer;
  transition: all .2s;
  transform: translateY(0);

  &--light {
    background-color: $color-light-1;
    color: $color-dark-1;
  }



  &--animated {

    &:hover {
      transform: translateY(-3px);
    }

    &:active {
      transform: translateY(-1px);
    }
  }
}